@font-face {
  font-family: 'TickingTimebombBB';
  src: url('./fonts/TickingTimebombBB.ttf') format('truetype'),
       /* Add additional formats as needed */
       url('./fonts/TickingTimebombBB_ital.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: black;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.Countdown {
  display: flex;
  font-size: 4rem; /*here*/
  margin-top: 50px;
}

.Segment {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}

.NumberSegment {
  display: flex;
  align-items: center;
}

.Number {
  font-size: 16vmin; /*here*/
  color: red;
  font-weight: bold;
  width: 100%;
  align-items: center;

}

.Colon {
  font-size: 8vmin; /*here*/
  color: red;
  font-weight: bold;
  opacity: 1;
  width: 100%;
  align-items: center;
}

.Hidden {
  opacity: 0;
}

.Visible {
  opacity: 1;
}

.Number, .Colon {
  font-family: 'TickingTimebombBB', Arial, sans-serif;
}

.CongratsText {
  font-size: 4rem;
  color: red;
  font-weight: bold;
}
